description = "scripts"
==
<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>


<!-- VENDOR FRAMEWORK.JS  -->
<script src="{{ ['assets/js/materialize.min.js']|theme }}"></script>


<!-- THEME.JS : scripts INIT  -->
<script src="{{ ['assets/js/theme.js']|theme }}"></script>


<!-- OCTOBER FRAMEWORK : AJAX etc.  -->
{% framework extras %}


<!-- ADDONS : wow, sticky.js etc.  -->
{% partial "_addons/vendor-scripts-init" %}


<!-- NOTES -->
<!-- 'assets/js/materialize.min.js' -->
